body {
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #BF9393;
  scroll-behavior: smooth;
  font-size: 1rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}

body {
  position: relative;
  z-index: 1;
}

/* Main Content */
main {
  max-width: 1500px;
  padding: 0 5rem;
  margin: auto;
}

/* Header and Footer */
.header,
.main,
.footer {
  position: relative;
  z-index: 1;
}

.header {
  font-family: 'Catamaran', sans-serif;
  background-color: #BF9393;
  color: white;
  padding: 1rem 1.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
  text-align: center;
}

.logo img {
  max-width: 15rem;
  margin: 0 auto;
}

.nav-desktop-left,
.nav-desktop-right {
  display: none;
}

.nav-desktop-left ul,
.nav-desktop-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.25rem;
}

.nav-desktop-left ul li,
.nav-desktop-right ul li {
  margin: auto;
}

.nav-desktop-left ul li a,
.nav-desktop-right ul li a {
  font-family: 'Catamaran', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-flex;
  margin: auto;
  vertical-align: middle;
}

.nav-desktop-left ul li a svg,
.nav-desktop-right ul li a svg {
  display: inline-flex;
  font-size: 1rem;
  vertical-align: middle;
  margin: auto;
}

.contact-button {
  display: flex;
  width: auto;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 5px 20px;
  margin: auto;
  font-size: 1rem;
}

.contact-number {
  font-size: 1rem;
  margin-left: 2px;
}

.burger-menu {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 1rem; /* Position burger menu on the right */
  top: 1rem;
  z-index: 1001;
}

.burger-menu span {
  display: block;
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: white;
  margin: 0.3125rem 0;
  transition: 0.4s;
}

/* Mobile Navigation */
.nav-mobile {
  position: fixed; /* Fixed position to cover the screen */
  top: 0;
  right: -100%; /* Start off-screen on the right */
  width: 100%;
  height: 100%;
  background-color: #BF9393;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.5s ease; /* Smooth sliding transition */
}

.nav-mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 1px dotted #fff;
}

.nav-mobile ul li {
  border-top: 1px dotted #fff;
}

.nav-mobile ul li a {
  font-family: 'Catamaran', sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.625rem 1.25rem;
  font-size: 1.2rem;
}

.nav-mobile-icons {
  display: none;
}

.nav-mobile.open {
  right: 0; /* Move the menu into view */
}

.nav-mobile.open .nav-mobile-icons {
  display: block;
  padding-top: 0.625rem;
}

/* Typography */
p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #BF9393;
  font-family: 'Catamaran', sans-serif;
  text-align: left;
}

h1,
h2,
h3,
p {
  font-family: 'Catamaran', sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
}

.heading {
  text-align: center;
  padding: 1.25rem;
}

h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin: 0.625rem 0;
}

h2 {
  font-size: 1.5rem;
}

/* Sections */
.welcome,
.leistungen {
  padding: 2.5rem 1.25rem;
  text-align: left;
}

.footer {
  background-color: #BF9393;
  color: white;
  text-align: center;
  padding: 1.25rem 0;
}

.footer h3 {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

.footer p {
  font-size: 1rem;
  margin: 0.3125rem 0;
  color: #fff;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 900px) {
  main {
    padding: 0 1rem;
  }

  h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .header {
    display: flex;
  }

  .logo img {
    max-width: 20rem;
    margin: auto;
  }
}

@media (min-width: 900px) {
  .burger-menu {
    display: none;
  }

  .nav-desktop-left,
  .nav-desktop-right {
    display: flex;
    margin: auto;
  }

  .nav-mobile {
    display: none;
  }

  .nav-mobile-icons {
    display: none;
  }
}

/* ScrollReveal Animations */
.sr .header,
.sr .hero,
.sr .welcome,
.sr .footer,
.sr .logo,
.sr h1,
.sr .contact {
  visibility: hidden;
}

/* Burger Menu Styles for Mobile */
.burger-menu.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-0.3125rem, 0.3125rem);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: rotate(45deg) translate(-0.3125rem, -0.3125rem);
}

