@keyframes gradient-animation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 90%; }
    100% { background-position: 0% 0%; }
}
html, body {
    height: 100%;
    margin: 0;
    font-family: "Baloo 2", sans-serif;
    overflow-x: hidden;
}

body {
    background-color:hsla(24,64%,44%,1);
    background-image:
    radial-gradient(at 58% 0%, hsla(15,71%,69%,1) 0px, transparent 50%),
    radial-gradient(at 98% 73%, hsla(15,71%,69%,1) 0px, transparent 50%),
    radial-gradient(at 17% 38%, hsla(15,71%,69%,1) 0px, transparent 50%);
    background-size: 200% 200%;
    animation: gradient-animation 1s ease-in-out infinite;
    overflow-x: hidden;
    -webkit-background-size: 200% 200%; /* Ensure Safari uses the correct background size */
    -webkit-animation: gradient-animation 8s ease-in-out infinite; /* Ensure Safari uses the correct animation */
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 30px 20px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}
h2 {
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.background-image {
    width: 400px;
    display: flex;
    margin: auto;
    opacity: 50%;
    height: 100%;
    margin-top: -20px;
    z-index: 0;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-width: 100%;
    margin: auto;
}

.cls-1 {
    fill: #fff;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 8px;
}
.cls-1:hover {
    fill: #90BBAD;
    stroke: #90BBAD;
    stroke-miterlimit: 10;
    stroke-width: 8px;
}
.logo {
    width: 100%;
}
li {
    font-size: 38px;
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
button {
    font-family: "Baloo 2", sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    background: transparent;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    /*
    text-shadow: 
        -1px -1px 0 #90BBAD,
        1px -1px 0 #90BBAD,
        -1px 1px 0 #90BBAD,
        1px 1px 0 #90BBAD;
    */
}
button:hover {
    color: #90BBAD;
    scale: 1.01 ;
    transition: 0.1s ease-in;
    cursor: pointer;
    /*
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    */
}
.header {
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    color: #fff;
}
p {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: 200;
    color: #fff;
    margin: 0;
}
.menu-item-image {
    display: flex;
    margin: auto;
    width: 100px;
}
.images {
    border-radius: 5px;
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
.scroll-container {
    position: absolute;
    top: 140px;
    bottom: 0px;
    left: -10px;
    right: -10px;
    overflow-y: auto;
    overflow-x: hidden;
}
nav {
    font-family: "Baloo 2", sans-serif;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    width: 100%;
    max-width: 1200px;
}
nav.open {
    opacity: 1;
}
.home-menu {
    left: 50%;
    margin-top: 150px;
}
.home-menu.closed {
    left: 100%;
}
.about-menu,
.services-menu,
.contact-menu {
    left: -100%;
    margin-top: 50px;
}
.about-menu.open,
.services-menu.open,
.contact-menu.open {
    left: 50%;
}
nav.closed {
    opacity: 0;
    pointer-events: none;
}
