body {
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #BF9393;
  scroll-behavior: smooth;
  font-size: 1rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}

body {
  position: relative;
  z-index: 1;
}

/* Prevent scrolling when mobile menu is open */
body.no-scroll {
  overflow: hidden;
}

/* Main Content */
main {
  max-width: 1500px;
  padding: 0 5rem;
  margin: auto;
}

/* Header and Footer */
.header,
.main,
.footer {
  position: relative;
  z-index: 1;
}

.header {
  font-family: 'Catamaran', sans-serif;
  background-color: #BF9393;
  color: white;
  padding: 1rem 1.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
  text-align: center;
}

.logo img {
  max-width: 25rem;
  margin: 0 auto;
}

.nav-desktop-left,
.nav-desktop-right {
  display: none;
}

.nav-desktop-left ul,
.nav-desktop-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.25rem;
}

.nav-desktop-left ul li,
.nav-desktop-right ul li {
  margin: auto;
}

.nav-desktop-left ul li a,
.nav-desktop-right ul li a {
  font-family: 'Catamaran', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-flex;
  margin: auto;
  vertical-align: middle;
}

.nav-desktop-left ul li a:hover,
.nav-desktop-right ul li a:hover {
  color: #90BBAD;
}

.nav-desktop-left ul li a svg,
.nav-desktop-right ul li a svg {
  display: inline-flex;
  font-size: 1rem;
  vertical-align: middle;
  margin: auto;
}

.contact-button {
  display: flex;
  align-items: center;
  width: auto;
  border-radius: 20px;
  border: 3px solid #fff;
  color: #fff; 
  padding: 5px 20px;
  margin: auto;
  font-size: 1rem;
}

.contact-button:hover {
  background-color: #90BBAD;
  color: #fff;
  border-color: #90BBAD;
}


.contact-number {
  font-size: 1rem;
  line-height: 0;
  display: inline-flex;
  margin: auto;
  margin-left: 5px;
  color: #fff;
}

.burger-menu {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  z-index: 10;
}

.burger-menu span {
  display: block;
  width: 1.6rem;
  height: 0.2rem;
  background-color: white;
  margin: 0.4rem;
  transition: 0.4s;
}

/* Burger Menu Open (X) Animation */
.burger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(9px, 5px);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -5px);
}

/* Mobile Navigation */
.nav-mobile {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #BF9393;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.5s ease;
}

.nav-mobile ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.nav-mobile ul li {
  border-bottom: 2px solid #fff;
}

.nav-mobile ul li a {
  font-family: 'Catamaran', sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.625rem 1.25rem;
  font-size: 1.2rem;
  font-size: 900;
}
.mobile-contact-button {
  display: block;
  align-items: center;
  width: 20rem !important;
  border-radius: 20px;
  border: 2px solid #fff !important;
  color: #fff; 
  padding: 5px 20px !important;
  margin: auto;
  font-size: 1rem;
}
.mobile-contact-button img {
  margin: auto;
  display: inline;
  vertical-align: middle;
}

.nav-mobile-icons {
  display: none;
}

.nav-mobile.open {
  right: 0;
}

.nav-mobile.open .nav-mobile-icons {
  display: block;
  padding-top: 0.625rem;
}

/* Typography */
p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #BF9393;
  font-family: 'Catamaran', sans-serif;
  text-align: left;
}

h1,
h2,
h3,
p {
  font-family: 'Catamaran', sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
}

.heading {
  text-align: center;
  padding: 1.25rem;
}

h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin: 0.625rem 0;
}

h2 {
  font-size: 1.5rem;
}

/* Sections */
.welcome,
.leistungen {
  padding: 2.5rem 1.25rem;
  text-align: left;
}

.footer {
  background-color: #BF9393;
  color: white;
  text-align: center;
  padding: 1.25rem 0;
}

.footer h3 {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

.footer p {
  font-size: 1rem;
  margin: 0.3125rem 0;
  color: #fff;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 900px) {
  main {
    padding: 0 1rem;
  }

  h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .header {
    display: flex;
  }

  .logo img {
    max-width: 18rem;
    margin: auto;
  }
}

@media (min-width: 900px) {
  .burger-menu {
    display: none;
  }

  .nav-desktop-left,
  .nav-desktop-right {
    display: flex;
    margin: auto;
  }

  .nav-mobile {
    display: none;
  }

  .nav-mobile-icons {
    display: none;
  }
}

/* ScrollReveal Animations */
.sr .header,
.sr .hero,
.sr .welcome,
.sr .footer,
.sr .logo,
.sr h1,
.sr .contact {
  visibility: hidden;
}

/* Burger Menu Styles for Mobile */
.burger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

